.largeImage {
  width: 100%;
  max-width: 900px; 
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .largeImage {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .largeImage {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .largeImage {
    max-width: 100%;
  }
}
